*,
*::before,
*::after {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.center-canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2em;
}

#game-canvas {
  border: 2px solid black;
}
