:root {
  --font: "8BIT WONDER", sans-serif;
}

*,
*::before,
*::after {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  cursor: url("./aim-cursor.svg"), pointer;
}

i {
  display: inline-block;

  padding: 0.7rem;
  background-size: 100% 100%;
}
[data-empty-bullets="true"] {
  display: none;
}

.background-game-info {
  margin-top: -0.54em;
  padding: 0.5em 1em;
  width: min(100%, 1024px);
  background-color: brown;
}

.game-info {
  font-family: var(--font);
  color: rgb(79, 221, 79);
}
[data-display-game-info="true"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
[data-display-game-info="false"] {
  display: none;
}

.level-and-shots {
}
.level {
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5em;
}
.shots {
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5em;
}
.shots-bullet-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shot-bullet-i {
  padding: 0.7rem;
  background-size: 100% 100%;
}
[data-spent="false"] {
  background-image: url(bullet-icon.png);
}
.shots__p {
  text-align: center;
}

.ducks-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5em;
}
.ducks-info__hit {
  margin-right: 2em;
}
.ducks-info__bars {
  display: flex;
  flex-direction: column;
}
.duck-icons {
}
[data-hunted="false"] {
  background-image: url(duck-icon-alive.png);
}
[data-hunted="true"] {
  background-image: url(duck-icon-hunted.png);
}
[data-counting="true"] {
  background-color: cyan;
  padding: 0.5em;
}
.required-ducks {
  margin-top: 0.3em;
  padding: 0.4rem 0;
  background-color: darkcyan;
  width: 40%;
}

.score {
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5em;
}
.score-number {
  text-align: center;
}
.score-text {
  text-align: center;
}
